<div class="col-md-12">
    <div class="form-group">
        <%= f.label :major_description, "Descripción de Educación Formal" %>
        <%= f.text_field :major_description, class: "form-control", autofocus:true%>
    </div>
</div>