<div class = "nested-fields">
<div class="col-sm-12">
    <table id="user_index" class='table borderless' role="grid">
      <thead>
        <tr>
          <th>
                <h4>
                    <div class="form-group">
                        <span class="glyphicon glyphicon-wrench" style="font-size:75%;"></span>&nbsp&nbsp
                            <%= f.label :instructor_id, "Nombre del Instructor" %>
                    </div>
                </h4>
          </th>
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
                <%= f.select(:instructor_id, @instructors.collect{|a| [a.name, a.id]}, {include_blank: "Escoger..."}, { :class => 'form-control' })%>
            </td>
            <td align="center">
                    <%= link_to_remove_association "&nbsp; Quitar Instructor &nbsp;".html_safe, f, class: 'btn btn-sm btn-danger'%>
            </td>
          </tr>
      </tbody>
    </table>
</div>
</div>