<p class="login-box-msg">Olvido su clave?</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Correo Electronico' %>
    <span class='glyphicon glyphicon-envelope form-control-feedback'></span>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.submit "Enviarme las instrucciones", class: 'btn btn-success btn-block btn-flat' %>
    </div>
  </div>
<% end %>
