<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= "Honducaribe | RRHH" %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li> <%= link_to "Ingresar", admin_root_path %> </li>
      </ul>
    </nav>
  </div>
</div>
