<div class="form-group">
  <%= f.label :mision, "Mision" %>
  <%= f.text_area :mision, class: "form-control"%>
</div>	
<div class="form-group">
  <%= f.label :vision, "Vision" %>
  <%= f.text_area :vision, class: "form-control"%>
</div>
