<h3><b>Hondu</b>Caribe</h3>
  <div class="box box-primary">
      <div class="box-header">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel" style="height: auto;">
                  <div class="x_title"><br/><br/>
                    <div class="clearfix"></div>
                    </div>
                  <div style="text-align: center;">
                    <%= image_tag("front/Logo.png", :alt => "rss feed") %>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h3><b>Nuestra Misión</b></h3>
                      Suministrar productos derivado de la palma africana de excelente calidad, diversificándose en diferentes áreas de inversión,
                      satisfaciendo las exigencias del mercado, protegiendo el medio ambiente, proporcionando un clima laboral favorable,
                      a través de la mejora continua de nuestros sistemas de gestión.
                    </div>
                    <div class="col-sm-6">
                      <h3><b>Nuestra Visión</b></h3>
                      Consolidarse como la empresa de economía social líder en la industria aceitera, mediante la diversificación de productos y
                      expansión de mercados.
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
