<h3><b>Hondu</b>Caribe</h3>
  <div class="box box-primary">
      <div class="box-header">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel" style="height: auto;">
                  <div class="x_title"><br/><br/>
                    <div class="clearfix"></div>
                    </div>
                  <div style="text-align: center;">
                    <%= image_tag("front/GrupoBLogo.png", :alt => "rss feed", :size => '380x280') %>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h3><b>Nuestra Misión</b></h3>
                      <%= @configuration_all.mission %>
                    </div>
                    <div class="col-sm-6">
                      <h3><b>Nuestra Visión</b></h3>
                      <%= @configuration_all.vision %>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
