<div class="col-md-12">
    <div class="form-group">
        <%= f.label :area_id_number, "Código del Área" %>
        <%= f.text_field :area_id_number, class: "form-control", autofocus:true, required:true , id: 'areaID'%>
    </div>
    <div class="form-group">
        <%= f.label :name, "Nombre del Área" %>
        <%= f.text_field :name, class: "form-control", required:true , id: 'areaName'%>
    </div>
</div>