<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Ingreso</h3>
            </div>
            <div class="box-body">
                <%= form_for @schedule, url: @url do |f| %>
                    <div class="row">
                        <%= render partial: "form", locals: {f: f} %>
                    </div>
                    <div class="input-group-btn">
                        <%= link_to "Cancelar", admin_schedules_path, class: "btn bg-red btn-flat" %>
                        <%= f.submit "Crear", class: 'btn bg-green btn-flat' %>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>