<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su clave, puede hacerlo con el enlace a continuacion</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito esto, por favor haga caso omiso a este correo electronico</p>
<p>Su clave no se cambiara hasta que usted acceda al enlace antes mencionado y cree una nueva.</p>
