<div class="col-md-12">
	<div class="form-group">
        <%= f.label :ability_name, "Nombre de la Habilidad" %>
        <%= f.text_field :ability_name, class: "form-control", autofocus:true%>
    </div>
</div>